.row{
    padding: 35px;
}
div{
    background-color: #a1b5cb;
    text-align: center;

}
/*estilo de la foto de perfil*/
@media(min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 5%
    }
}
@media(max-width: 575px) {
    #fotoPerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%
    }
}
/*tags nombre*/
#nombre {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 15%;
    margin-right: 47%;
        text-shadow: 7px 4px 5px rgb(45, 45, 184);
}

#fsd {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-right: 49%;
    font-style: italic;
    font-weight: lighter;
    font-weight: bolder;
    text-shadow: 7px 4px 5px rgb(105, 45, 184);
}

#adm {
    text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        
        margin-right: 19%;
        text-shadow: 7px 4px 5px rgb(110, 110, 224);
        text-decoration: underline wavy rgb(23, 23, 102);

}
#desc {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-top: 5%;
    margin: 0 auto;
    margin-right: 15%;
    background-color: #899fe5;
    padding: 0 20px 20px 20px;
    border: 4px solid rgb(43, 40, 40)
        
}
