<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logoAP/fotoPerfil.png" class="img-fluid"  id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">Bondoni Salas Belén</h2>
        <p id="fsd">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="adm">Acerca de mí</h1>
            <p id="desc">Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. 
                Inventore, qui corrupti nihil possimus iure
                ipsam dolores deleniti dolorem porro cumque,
                perferendis numquam dignissimos beatae culpa ullam
                consequatur cum necessitatibus mollitia?
            </p>
        </span>
    </div>
</div>