<div>
    <a href="https://www.linkedin.com/in/belén-bondoni-salas-40459a176/"><img src="../../../assets/logoAP/linkedin.png"
            alt=""></a>
    <a href="https://twitter.com/mmindmischief"><img src="../../../assets/logoAP/twitter.png" alt=""></a>
    <a href="https://www.instagram.com/learntxbefree_/"><img src="../../../assets/logoAP/instagram.png" alt=""></a>
    <a href="https://github.com/vhelem"><img src="../../../assets/logoAP/github.png" alt=""></a>
    <a href="https://www.facebook.com/vhelemmm/"><img src="../../../assets/logoAP/facebook.png" alt=""></a>
</div>