<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div dlass="col-sm-12 col-md-7 col-lg-7 parte1">
    <h1>Cinema</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet harum, praesentium, obcaecati quaerat dolor nulla officiis modi debitis illum molestiae dolorem a recusandae vero id ad aut magni voluptatibus optio.</p>
    </div>
    <div class="col-sm-12 col.md-3 col-lg-3 offset-md-1 parte2">
        <img src="../../../assets/logoAP/cine.png" class="img-fluid 
        img-proyecto">
    </div>

</div>
