<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAP/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/belén-bondoni-salas-40459a176/"><img src="../../../assets/logoAP/linkedin.png"id="linkedin"></a>
            <a href="https://twitter.com/mmindmischief"><img src="../../../assets/logoAP/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/learntxbefree_/"><img src="../../../assets/logoAP/instagram.png" id="instagram"></a>
            <a href="https://github.com/vhelem"><img src="../../../assets/logoAP/github.png" id="github"></a>
            <a href="https://www.facebook.com/vhelemmm/"><img src="../../../assets/logoAP/facebook.png" id="facebook"></a> 
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        <div>
    </div>
</div>
