<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi ullam odit rerum, molestias illum neque quaerat autem recusandae
                quo architecto repudiandae aperiam placeat dolorum odio
                quidem saepe assumenda iure dolore?</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi ullam odit rerum, molestias illum neque quaerat autem recusandae
                quo architecto repudiandae aperiam placeat dolorum odio
                quidem saepe assumenda iure dolore?</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi ullam odit rerum, molestias illum neque quaerat autem recusandae
                quo architecto repudiandae aperiam placeat dolorum odio
                quidem saepe assumenda iure dolore?</p>
        </ul>
    </div>
    <h1> Hard & Soft skills</h1>

</div>

